body, html{
    margin: 0;
    height: 100%;
    background-color: hsl(0, 0%, 50%);
    overflow: auto;
}

.canvas-container{
    position: relative;
    margin: 5px auto;
}

#field{
    background-color: hsl(0, 0%, 90%);
    margin: auto;
    display: block;
    /* color: rgb(0, 157, 255); */
}

.coordinates{
    position: absolute;
    left: 4rem;
    top: 1rem;
}

.coordinates > p{
    display: block;
    margin: 0;
}

#interactiveLayer{
    width: 1400px;
    height: 600px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    user-select: none;
    z-index: 2;
    /* background-color: hsla(0, 0%, 10%, 0.3); */
}

#selectionWheel{
    width: 10rem;
    aspect-ratio: 1;
    scale: 0;
    background-color: hsla(0, 0%, 30%, 0.5);
    position: absolute;
    border: 3px solid hsl(0, 0%, 20%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    background-image: conic-gradient(from 300deg, rgba(255, 255, 255, 0.5) 120deg, transparent 120deg 360deg);
    mask-image: radial-gradient(transparent 10%, black 10% 100%);
    z-index: 1;
}

#selectionWheel img{
    width: 3rem;
    height: 3rem;
    position: absolute;
    user-select: none;
}

#selectionWheel img:nth-child(2){
    rotate: 120deg;
    transform-origin: center 5rem;
}

#selectionWheel img:nth-child(3){
    rotate: 240deg;
    transform-origin: center 5rem;
}

p{
    display: inline;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.controls{
    width: 95%;
    margin: auto;
    display:grid;
    grid-template-columns: 1fr 2fr;
    gap:1em;
    /* border:3px solid red; */
}

.simulation-controls{
    border-right: 2px dotted black;
}

button{
    height: 2em;
}

#activeText{
    color: red;
}

.shapes{
    margin: 5px 0;
}

[type=radio]{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio] + img{
    width: 3em;
    height: 3em;
    border: 3px solid black;
    border-radius: 5px;
    cursor: pointer;
    background-color: hsl(0, 0%, 30%);
    opacity: 0.5;
}

[type=radio]:checked + img {
    outline: 2px solid #f00;
}

.hotkey-info-button{
    position: fixed;
    right: 0.5rem;
    top: 0.5rem;
    width: 2em;
    height: 2em;
    color:white;
    font-weight: 700;
    background-color: rgb(140, 184, 235);
    border: 2px solid rgb(88, 122, 159);
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}